{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
<div class= "d-flex flex-row justify-content-center align-items-center">
    <div id="plante_grimpante">
        <img alt="plante_grimpante" src="/images/3ee26176ed62423c237a758bb1626ff6.jpeg" style="width: 400px; height: 250vh; margin-top: 0px">
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center" style='display: flex; flex-wrap: wrap'>
        <h1 style="margin-top: 20px; margin-bottom: 20px" >Boutiques éphémères</h1>
        <p style="width: 500px; text-align: justify">
            Vous pouvez venir nous rencontrer dans une de nos boutiques éphémères, 
            pour venir faire vos mélanges et les sentir sans passer par la voie postale.
            Voici les différentes boutiques éphémères du moment:
        </p>
        <h2 style="margin-top: 20px; margin-bottom: 20px">La Place</h2>
        <img src="\images\b424.jpeg">
        <p style="margin-top: 20px; width: 500px; text-align: justify">
            Au 9 rue Française, dans le IIème arrondissement de Paris, nous accueille le concept store "La Place" qui fédère une 
            offre de parfumerie de niche, des expositions d’art, mais aussi des ateliers olfactifs et des conférences.
            Disponible du 31 Janvier 2023 jusqu'au 20 Septembre 2023.
        </p>
        <h2 style="margin-top: 20px; margin-bottom: 20px">BHV Marais</h2>
        <img src="\images\Le-BHV-Marais-Façade-de-nuit-_-630x405-_-©-OTCP.jpeg" style="border-radius: 20px">
        <p style="margin-top: 20px; width: 500px; text-align: justify">
            Le BHV du marais nous accueille du 10 Février 2023 au 23 Octobre 2023 au rez-de-chaussée du Grand Magasin,
            au coeur de l'espace beauté. Dans ce bel espace qui est un avant-goût de l'expérience proposé par cet atelier de parfumerie parisien, vous 
            allez pouvoir créer une fragrance sur-mesure à partir des odeurs qui vous plaisent.
        </p>
    </div>
    <div id="plante_grimpante">
        <img alt="plante_grimpante" src="/images/3ee26176ed62423c237a758bb1626ff6.jpeg" style="width: 400px; height: 250vh; margin-top: 0px">
    </div>
</div>
{% endblock %}