{% extends 'base.html.twig' %}

{% block title %}cgv{% endblock %}

{% block body %}

<h1 style="margin-top: 20px; margin-bottom: 20px; text-size: 30px" class="d-flex justify-content-center align-items-center">Conditions générales de vente
de produits en ligne à des consommateurs particuliers</h1>

<h2>Préambule</h2>

<p>Les présentes conditions générales de vente s'appliquent à toutes les ventes conclues sur le site Internet Identité Olfactive.
<br><br>

Le site Internet https://hungry-bell.51-68-229-144.plesk.page/ est un service de :

<ul>
<li>L'entreprise individuelle Identité Olfactive</li>
<li>située 10 rue de la procession 92150 Suresnes (92150), France adresse URL du site : https://hungry-bell.51-68-229-144.plesk.page/ e-mail : rooy.marie@gmail.com</li>
<li>numéro de téléphone : 0670871030</li>
</ul>
Le site Internet Identité Olfactive commercialise les produits suivants : parfums. <br>
Le client déclare avoir pris connaissance et avoir accepté les conditions générales de vente antérieurement à la passation de sa commande. La validation de la commande vaut donc acceptation des conditions générales de vente.

</p>

{% endblock %}
