{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}

<h1 style="margin-top: 30px; margin-bottom: 20px; text-align: center" class="d-flex justify-content-center align-items-center">Mentions légales</h1>

<h2 style="margin-top: 30px; margin-bottom: 20px">1 - Édition du site</h2>

<p>
En vertu de <span style="color: #2707AB"><a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000801164#LEGIARTI000042038977">l'article 6 de la loi n° 2004-575 du 21 juin 2004</a> </span> pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site internet <strong><a href=https://hungry-bell.51-68-229-144.plesk.page/>https://hungry-bell.51-68-229-144.plesk.page/</a></strong> l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi:
<br><br>
<strong>Propriétaire du site : </strong> Marie Rooy - Contact : rooy.marie@gmail.com 0670871030 - Adresse : 10 rue de la procession.
<br><br>
<strong>Identification de l'entreprise : </strong> Marie Rooy - Adresse postale : 10 rue de la procession - <strong><a href=https://hungry-bell.51-68-229-144.plesk.page/cgv>https://hungry-bell.51-68-229-144.plesk.page/cgv</a></strong>
<br><br>
<strong>Directeur de la publication : </strong> Marie Développeur web / web mobile Rooy - Contact : .
<br><br>
<strong>Hébergeur : </strong> AutrePlesk Obsidian Vordergasse 59 8200 Schaffhausen Switzerland +41 52 539 10 00
<br><br>
<strong>Délégué à la protection des données : </strong> Marie Rooy - rooy.marie@gmail.com


</p>

<h2 style="margin-top: 30px; margin-bottom: 20px">2 - Propriété intellectuelle et contrefaçons.</h2>

<p>
<strong>Marie Rooy</strong> est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous les éléments accessibles sur le site internet, notamment les textes, images, graphismes, logos, vidéos, architecture, icônes et sons.
<br><br>
Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de <strong>Marie Rooy</strong> .
<br><br>
Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles<span style="color: green"><a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000032655082">L.335-2 et suivants du Code de Propriété Intellectuelle</a> </span>.
</p>

<h2 style="margin-top: 30px; margin-bottom: 20px">3 - Limitations de responsabilité.</h2>

<p>
<strong>Marie Rooy</strong> ne pourra être tenu pour responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site <strong><a href=https://hungry-bell.51-68-229-144.plesk.page/>https://hungry-bell.51-68-229-144.plesk.page/</a></strong>.
<br><br>
<strong>Marie Rooy</strong> décline toute responsabilité quant à l’utilisation qui pourrait être faite des informations et contenus présents sur <strong><a href=https://hungry-bell.51-68-229-144.plesk.page/>https://hungry-bell.51-68-229-144.plesk.page/</a></strong>.
<br><br>
<strong>Marie Rooy</strong> s’engage à sécuriser au mieux le site <strong><a href=https://hungry-bell.51-68-229-144.plesk.page/>https://hungry-bell.51-68-229-144.plesk.page/</a></strong>, cependant sa responsabilité ne pourra être mise en cause si des données indésirables sont importées et installées sur son site à son insu.
<br><br>
Des espaces interactifs (espace contact ou commentaires) sont à la disposition des utilisateurs. Marie Rooy se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données.
<br><br>
Le cas échéant, <strong>Marie Rooy</strong> se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie …).
</p>

<h2 style="margin-top: 30px; margin-bottom: 20px">4 - CNIL et gestion des données personnelles.</h2>

<p>
Conformément aux dispositions de <span style="color: green"><a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000886460">la loi 78-17 du 6 janvier 1978 modifiée</a> </span>, l’utilisateur du site <strong><a href=https://hungry-bell.51-68-229-144.plesk.page/>https://hungry-bell.51-68-229-144.plesk.page/</a></strong> dispose d’un droit d’accès, de modification et de suppression des informations collectées. Pour exercer ce droit, envoyez un message à notre Délégué à la Protection des Données : <strong>Marie Rooy - rooy.marie@gmail.com</strong>.
<br><br>
Pour plus d'informations sur la façon dont nous traitons vos données (type de données, finalité, destinataire...), lisez notre <strong><a href=https://hungry-bell.51-68-229-144.plesk.page/politique/confidentialite/>https://hungry-bell.51-68-229-144.plesk.page/politique/confidentialite</a></strong>.
</p>

<h2 style="margin-top: 30px; margin-bottom: 20px">5 - Droit applicable et attribution de juridiction.</h2>

<p>
Tout litige en relation avec l’utilisation du site <strong><a href=https://hungry-bell.51-68-229-144.plesk.page/>https://hungry-bell.51-68-229-144.plesk.page/</a></strong> est soumis au droit français. En dehors des cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux tribunaux compétents de <strong>Suresnes (92150)</strong>.
</p>

{% endblock %}
