{% extends 'base.html.twig' %}

{% block title %}Merci pour vos achats{% endblock %}


{% block body %}
<h1 style="margin-top: 20px" class="d-flex justify-content-center">Merci pour vos achats !</h1>
<h2 style="margin-top: 20px; margin-bottom: 20px" class="d-flex justify-content-center">Vous avez reçu une confirmation de vos achats dans votre boite mail.</h2>
{% endblock %}