{% extends 'base.html.twig' %}

{% block title %}Merci pour vos achats{% endblock %}


{% block body %}
<h1 style="margin-top: 20px" class="d-flex justify-content-center">Merci pour vos achats !</h1>
{% endblock %}