<form method="post" action="{{ path('app_base_scent_delete', {'id': base_scent.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ base_scent.id) }}">
    <button class="btn">Delete</button>
</form>
