<form method="post" action="{{ path('app_base_scent_delete', {'id': base_scent.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cette note de fond?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ base_scent.id) }}">
    <button class="btn">Supprimer</button>
</form>
