{% extends 'base.html.twig' %}

{% block title %}New BaseScent{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle note de fond</h1>

    {{ include('base_scent/_form.html.twig') }}

    <a href="{{ path('app_base_scent_index') }}">Retour à la liste des senteurs</a>
{% endblock %}
