{% extends 'base.html.twig' %}

{% block title %}Editer le produit{% endblock %}

{% block body %}
    <h1>Editer le produit</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Editer'}) }}

    <a href="{{ path('app_product_index') }}">Retour à la liste des produits</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
