{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <h1>Ajouter un produit</h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('app_product_index') }}">Retour à la liste des produits</a>
{% endblock %}
