<form method="post" action="{{ path('app_head_scent_delete', {'id': head_scent.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cette note de coeur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ head_scent.id) }}">
    <button class="btn">Supprimer</button>
</form>
