{% extends 'base.html.twig' %}

{% block title %}Editer la note de tête{% endblock %}

{% block body %}
    <h1>Editer la note de tête</h1>

    {{ include('head_scent/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_head_scent_index') }}">Retour à la liste de senteurs</a>

    {{ include('head_scent/_delete_form.html.twig') }}
{% endblock %}
