{% extends 'base.html.twig' %}

{% block title %}New HeadScent{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle note de coeurt</h1>

    {{ include('head_scent/_form.html.twig') }}

    <a href="{{ path('app_head_scent_index') }}">Retour à la liste des senteurs</a>
{% endblock %}
