{% extends 'base.html.twig' %}

{% block title %}New CreatedPerfume{% endblock %}

{% block body %}
    <h1 style="margin-top: 20px" class="d-flex justify-content-center">Créer un nouveau parfum</h1>

    {{ include('created_perfume/_form.html.twig') }}

{% endblock %}
