<form method="post" action="{{ path('app_heart_scent_delete', {'id': heart_scent.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ heart_scent.id) }}">
    <button class="btn">Supprimer</button>
</form>
