{% extends 'base.html.twig' %}

{% block title %}Nouvelle note de coeur{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle note de coeur</h1>

    {{ include('heart_scent/_form.html.twig') }}

    <a href="{{ path('app_heart_scent_index') }}">Retour à la liste des senteurs</a>
{% endblock %}
